body{
  margin: 0;
  height: 100vw;
}

#all{
  background-color: #0d325a;
  height: 88px;
  box-sizing: border-box;
}

#metodo, #tecnologia, #real, #soluzioni, #diventa-tutor {
  text-decoration: none;
  line-height: 88px;
  font-family: sans-serif;
  font-size: 11px;
}

.nav-link1, .nav-link2, .nav-link3, .nav-link4{
  margin-left: 1%;
  text-align: center;
}

.nav-link1{
  margin-left: 4%;
}


#metodo:hover{
  color: orangered;
}

#tecnologia:hover{
  color: orangered;
}

#real:hover{
  color: orangered;
}

#soluzioni:hover{
  color: orangered;
}

.nav-logo {
  margin-top: 19px;
}

.nav-bar{
  width: 80%;
  height: 100%;
  margin: auto;
  font-weight: bold;
}

.nav-bar:after{
  clear: both;
  display: table;
  content: "";
}

.nav-bar >div{
  float: left;
}

#diventa-tutor{
  color: grey;
  padding-left: 3px;
}

#diventa-tutor >span{
  padding-right: 30px;
}

#buttons{
  float: right;
}

.str-button {
  display: inline-block;
  text-align: center;
  border-width: 1px;
  border-style: solid;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 1.1;
  font-weight: normal;
  font-family: sans-serif;
  color: #FFFFFF;
  font-size: 12px;
  background-color: #73B10E;
  background-image: -webkit-linear-gradient(top, #76b60e 0%, #86c028 48%, #73B10E 49%, #73B10E 82%, #84cb10 100%);
  background-image: -moz-linear-gradient(top, #76b60e 0%, #86c028 48%, #73B10E 49%, #73B10E 82%, #84cb10 100%);
  background-image: -o-linear-gradient(top, #76b60e 0%, #86c028 48%, #73B10E 49%, #73B10E 82%, #84cb10 100%);
  background-image: linear-gradient(top, #76b60e 0%, #86c028 48%, #73B10E 49%, #73B10E 82%, #84cb10 100%);
  border-color: hsl(83, 29%, 37%);
  -webkit-box-shadow: inset 0 0 1px 1px #95e512, 0 0 1px 3px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 0 1px 1px #95e512, 0 0 1px 3px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 0 1px 1px #95e512, 0 0 1px 3px rgba(0, 0, 0, 0.15);
  -webkit-text-shadow: 1px 1px 1px #365207;
  -moz-text-shadow: 1px 1px 1px #365207;
  -o-text-shadow: 1px 1px 1px #365207;
  text-shadow: 1px 1px 1px #365207;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  padding: 6px 15px 6px 15px;
}

.str-button strong {
  letter-spacing: 1px;
  font-size: 12px;
}

.str-button:hover {
  color: #FFFFFF;
  background-color: #7cbf0f;
  background-image: -webkit-linear-gradient(top, #7fc40f 0%, #8fcc2b 48%, #7cbf0f 49%, #7cbf0f 82%, #8dd911 100%);
  background-image: -moz-linear-gradient(top, #7fc40f 0%, #8fcc2b 48%, #7cbf0f 49%, #7cbf0f 82%, #8dd911 100%);
  background-image: -o-linear-gradient(top, #7fc40f 0%, #8fcc2b 48%, #7cbf0f 49%, #7cbf0f 82%, #8dd911 100%);
  background-image: linear-gradient(top, #7fc40f 0%, #8fcc2b 48%, #7cbf0f 49%, #7cbf0f 82%, #8dd911 100%);
  border-color: hsl(83, 28%, 36%);
  -webkit-box-shadow: inset 0 0 1px 1px #9eed1e, 0 0 1px 3px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 0 1px 1px #9eed1e, 0 0 1px 3px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 0 1px 1px #9eed1e, 0 0 1px 3px rgba(0, 0, 0, 0.15);
  -webkit-text-shadow: 1px 1px 1px #3f6008;
  -moz-text-shadow: 1px 1px 1px #3f6008;
  -o-text-shadow: 1px 1px 1px #3f6008;
  text-shadow: 1px 1px 1px #3f6008;
}

.str-button:active {
  color: #FFFFFF;
  background-color: #6aa30d;
  background-image: -webkit-linear-gradient(top, #649a0c 0%, #73B10E 100%);
  background-image: -moz-linear-gradient(top, #649a0c 0%, #73B10E 100%);
  background-image: -o-linear-gradient(top, #649a0c 0%, #73B10E 100%);
  background-image: linear-gradient(top, #649a0c 0%, #73B10E 100%);
  padding: 7px 15px 5px 15px;
}

.login-button {
  display: inline-block;
  text-align: center;
  border-width: 1px;
  border-style: solid;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 1.1;
  font-weight: normal;
  font-family: sans-serif;
  color: #FFFFFF;
  font-size: 12px;

  border-color: white;
  -webkit-box-shadow: inset 0 0 1px 1px #fff, 0 0 1px 3px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 0 1px 1px #fff, 0 0 1px 3px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 0 1px 1px #fff, 0 0 1px 3px rgba(0, 0, 0, 0.15);
  -webkit-text-shadow: 1px 1px 1px #c0cc95;
  -moz-text-shadow: 1px 1px 1px #c0cc95;
  -o-text-shadow: 1px 1px 1px #c0cc95;
  text-shadow: 1px 1px 1px #c0cc95;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  padding: 6px 15px 6px 15px;
}

.login-button strong {
  letter-spacing: 1px;
  font-size: 12px;
}


.login-button:active {
  color: #FFFFFF;
  background-color: #e3e8d0;
  background-image: -webkit-linear-gradient(top, #dfe5c9 0%, #E9EDDA 100%);
  background-image: -moz-linear-gradient(top, #dfe5c9 0%, #E9EDDA 100%);
  background-image: -o-linear-gradient(top, #dfe5c9 0%, #E9EDDA 100%);
  background-image: linear-gradient(top, #dfe5c9 0%, #E9EDDA 100%);
  padding: 7px 15px 5px 15px;
}

.row-info{
  background-color: #0d325a;
  width: 100%;
  height: 30vw;
  margin: 0;
}

.row-info::after{
  clear: both;
  display: table;
  content: "";
}

.contenuto-row-info{
  width: 40%;
  float: left;
  margin-left: 10%;
  margin-top: 5%;
  color: white;
  font-family: sans-serif;
  font-size: 40px;
}

.sfondo-row-info{
  background-image: url("img-sfondo.png");
  width: 50%;
  height: 100%;
  float: right;
  margin-top: 5%;
  background-size: cover;
  margin: 0;
}

.grey-bck{
  margin-left: -15px;
  margin-right: -15px;
  padding: 40px 20px 30px 20px;
  background-color: #f9f9f9;
  text-align: center;
}

.grey-bck >p{
  color: darkgrey;
  font-family: sans-serif;
  font-size: 15px;
  margin-top: 0px;
}

.grey-bck >h4{
  margin-top: 8px;
  font-size: 20px;
  font-weight: 300;
  color: black;
  font-family: sans-serif;
}

#elenco-icone{
  height: 520px;
  width: 80%;
  margin: auto;
}

#elenco-icone:hover{
  clear: both;
  display: table;
  content: "";
}

.icona{
  width: 33.333%;
  height: 300px;
  float: left;
  margin-top: 20px;
  text-align: center;
  box-sizing: border-box;
  padding: 20px;
}

.profile, .computer, .doc{
  height: 150px;
}

.icona >hr{
  width: 10%;
}

.icona >h1{
  color: green;
  font-family: sans-serif;
  margin-top: 50px;
}

.icona >p{
  color: dimgrey;
}

#montagna{
  width: 100%;
}

#montagna:hover{
  clear: both;
  display: table;
  content: "";
}

.img-mount{
  margin-left: 10%;
  width: 40%;
}

.mountain{
  margin: 80px;
  height: 300px;
}

.content-mount{
  width: 40%;
  float: right;
  margin-right: 10%;
}

.content-mount >h1{
  font-size: 30px;
  font-family: sans-serif;
  margin-top: 20%;
}

.content-mount >p{
  font-size: 20px;
  font-family: sans-serif;
  margin-top: 5%;
  color: darkgrey;
}

.content-mount >a{
  margin-top: 5%;
  margin-right: 25%;
  float: right;
}

#row-5{
  width: 100%;
  height: 10vw;
  background-color: #f9f9f9;
}

#row-5:hover{
  clear: both;
  display: table;
  content: "";
}

.grey-row5{
  margin-left: 5%;
  padding: 40px 20px 30px 20px;
  background-color: #f9f9f9;
  width: 80%;
}

.grey-row5 >h4{
  margin-top: 8px;
  font-size: 20px;
  font-weight: 300;
  color: black;
  font-family: sans-serif;
}

.grey-row5 >h4{
  font-size: 35px;
  font-family: sans-serif;
  float: left;
}

.grey-row5 >h3{
  margin-top: 8px;
  font-size: 20px;
  font-weight: 300;
  color: black;
  font-family: sans-serif;
}

.grey-row5 >h3{
  font-size: 35px;
  font-family: sans-serif;
  float: right;
  color: darkgrey;
}



.row-6{
  background-color: #0d325a;
  width: 100%;
  height: 30vw;
  margin: 0;
}

.row-6::after{
  clear: both;
  display: table;
  content: "";
}

.contenutrow-6{
  width: 40%;
  float: left;
  margin-left: 10%;
  margin-top: 5%;
  color: white;
}

.sfondo-row6{
  background-image: url("session-pc.png");
  width: 50%;
  height: 100%;
  float: right;
  margin: auto;
  background-size: cover;
}

.contenutrow-6 >a{
  font-family: sans-serif;
  font-size: 40px;
}

.contenutrow-6 >h6{
  font-family: sans-serif;
  font-size: 20px;
  font-weight: lighter;
}

.contenutrow-6 >span{
  font-family: sans-serif;
  font-size: 40px;
  color: darkorange;
  margin: auto;
  display: inline-block;
}


#mani{
  width: 100%;
}

#mani:hover{
  clear: both;
  display: table;
  content: "";
}

.img-mani{
  margin-left: 10%;
  width: 40%;
}

.mani{
  margin: 80px;
  height: 200px;
}

.content-mani{
  width: 40%;
  float: right;
  margin-right: 10%;
}

.content-mani >h1{
  font-size: 30px;
  font-family: sans-serif;
  margin-top: 20%;
}

.content-mani >p{
  font-size: 20px;
  font-family: sans-serif;
  margin-top: 5%;
  color: darkgrey;
}

.content-mani >a{
  margin-top: 5%;
  margin-right: 25%;
  float: right;
}

.pc-img{
  width: 100%;
  height: 550px;
}

.pc-img >img{
  height: 45%;
  margin-left: 27.5%;
  margin-right: 27.5%;
  margin-top: 6%;
}

.text-pc-img{
  font-size: 30px;
  font-family: sans-serif;
  margin-top: 2%;
  text-align: center;
}

.text-green{
  color: green;
}

.text2-pc-img{
  font-size: 14px;
  font-family: sans-serif;
  margin-top: 2%;
  text-align: center;
  color: darkgray;
}

.text3-pc-img{
  font-size: 18px;
  font-family: sans-serif;
  text-align: center;
  color: darkgray;
  width: 40%;
  margin:auto;
  padding: 12px;
}

.link-text4 >a{
  color: blue;
}

.link-text4{
  padding: 30px;
}


.row2-info{
  background-color: #0d325a;
  width: 100%;
  height: 30vw;
  margin: 0;
}

.row2-info::after{
  clear: both;
  display: table;
  content: "";
}

.contenuto2-row-info{
  width: 40%;
  float: left;
  margin-left: 10%;
  margin-top: 5%;
  color: white;
  font-family: sans-serif;
  font-size: 30px;
}

.sfondo2-row-info{
  background-image: url("talking.png");
  width: 50%;
  height: 100%;
  float: right;
  margin-top: 5%;
  background-size: cover;
  margin: 0;
}

.contenuto2-row2-info{
  width: 50%;
  margin-left: 10%;
  margin-top: 10px;
  color: white;
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 20px;
  text-align: center;
}

.contenuto2-button{
  width: 50%;
  margin: auto;
  margin-left: 10%;
}

#elenco-icone2{
  height: 520px;
  width: 80%;
  margin: auto;
}

#elenco-icone2:hover{
  clear: both;
  display: table;
  content: "";
}

.icona2{
  width: 33.333%;
  height: 300px;
  float: left;
  margin-top: 20px;
  text-align: center;
  box-sizing: border-box;
  padding: 20px;
}

.student, .worker, .business{
  height: 60px;
}

.icona2 >h1{
  color: darkgrey;
  font-family: sans-serif;
  font-size: 18px;
  margin-top: 50px;
}

.icona2 >p{
  color: dimgrey;
  font-size: 14px;
}

.icona2 >hr{
  border: 5px solid darkgreen;
}

.blue-bck{
  margin-left: -15px;
  margin-right: -15px;
  padding: 40px 20px 30px 20px;
  background-color: #0d325a;
}

.blue-bck >p{
  margin-top: 8px;
  font-size: 20px;
  font-weight: 300;
  color: grey;
  font-family: sans-serif;
  font-size: 20px;
  width: 50%;
}

.blue-bck >h4{
  margin-top: 8px;
  font-size: 20px;
  font-weight: 300;
  color: white;
  font-family: sans-serif;
  font-size: 25px;
  width: 50%;
}

.text-yellow{
  color: darkorange;
}

#footer{
  background-color:  #17406b;
  width: 100%;
  height: 20vw;
}

#footer:hover{
  clear: both;
  display: table;
  content: "";
}

.row-footer-sx{
  float: left;
  width: 40%;
  margin-left: 10%;
  text-align: left;
  font-family: sans-serif;
  font-size: 15px;
  margin-top: 30px;
  color: white;
}

.row-footer-dx{
  float: left;
  width: 40%;
  margin-right: 10%;
  text-align: right;
  font-family: sans-serif;
  font-size: 15px;
  margin-top: 30px;
  color: white;
}

ul{
  list-style-type: none;
}

.company{
  font-size: 25px;
}

.indirizzo{
  color: darkgrey;
}
